In [4]:
# Data Sources
from fredapi import Fred

# Data Wrangling
import pandas as pd 
import numpy as np
from datetime import datetime

# Pull Data from FRED API

In [5]:
fred = Fred(api_key = 'd8c837149005fd272f94b30f77dad8fa')

# 10YT, monthly
t10yr = fred.get_series('DGS10', observation_start="1970-01-01", frequency='m')

# CPI, monthly
cpi = fred.get_series('CPALTT01USM657N', observation_start="1970-01-01")

# Unemployment, monthly
unemp = fred.get_series('UNRATE', observation_start="1970-01-01")

# Retail Sales, monthly
retail = fred.get_series('MRTSSM44000USS', observation_start="1970-01-01")

# PPI, monthly
ppi = fred.get_series('PPIACO', observation_start="1970-01-01")

# Personal Savings, monthly
saving = fred.get_series('PSAVERT', observation_start="1970-01-01")

# price of oil, monthly
oil = fred.get_series('DCOILWTICO', observation_start="1970-01-01", frequency='m')

# Combine into Single Data Frame

In [6]:
data = pd.DataFrame(t10yr)
data.columns = ['t10yr']

# convert index to datatime
data.index = pd.to_datetime(data.index,format='%Y-%m-%d')

# fitler
#data = data.loc[data.index <= datetime(2024, 3, 1), :]

# cpi
data = data.join(pd.DataFrame(cpi, columns=['cpi']))
#unemp
data = data.join(pd.DataFrame(unemp, columns=['unemp']))
#retail
#data = data.join(pd.DataFrame(retail, columns=['retail']))
#ppi
data = data.join(pd.DataFrame(ppi, columns=['ppi']))
#saving
data = data.join(pd.DataFrame(saving, columns=['saving']))

data = data.dropna()

data.head()

            t10yr       cpi  unemp   ppi  saving
1970-01-01   7.79  0.265252    3.9  36.5    11.8
1970-02-01   7.24  0.529101    4.2  36.7    11.7
1970-03-01   7.07  0.526316    4.4  36.7    12.4
1970-04-01   7.39  0.785340    4.6  36.8    13.3
1970-05-01   7.91  0.259740    4.8  36.8    12.4

# Export

In [ ]:
data.to_csv('../data/monthly_target_economic_factors.csv', encoding='utf-8', index=False)